$chatbox_width: 325px;
$leftbar_width: 90px;
$topbar_height: 50px;
$selection_background: #D1F3FF;
$selection_colour: #315A7A;
$visitors_width: 270px;
$search_height: 44px;
$green: #447B4F;
$red: #8F200C;

@import "vendor/reset";
@import "vendor/font-awesome";
@import "vendor/animate";
@import "vendor/tipsy";

@import "helpers";
@import "general";

@import "states";
@import "topbar";
@import "leftbar";

@import "prompter";
@import "admin";
@import "chatbox";
@import "visitors";
@import "form";
@import "install";